.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.app__header {
  background-color: #282c34;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__main {
  padding-top: 70px;
}

.app_form {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 50px;
  outline: 1px solid yellowgreen;
}

.app_form input {
  padding: 20px;
  border: 1px solid yellowgreen;
}

.app_form button {
    padding: 10px;
    margin-left: 20px;
    border: none;
    background: #19b16b;
    color: white;
    cursor: pointer;
}

.app__messages {
  width: 400px;
  margin: 50px auto 0;
  background: #e0e4e040;
  outline: 1px solid #e0e4e0;
}